@import "base";

@primary: #1db393;
@color: white;

@menu-color: #a7b1c2;
@menu-background: #283846 !important;

@menu-color-hover: #FFF;
@menu-background-hover: #001528;

@menu-title-color: @menu-color;
@menu-title-background-color: #2f4050;

@menu-title-color-hover: @menu-color-hover;
@menu-title-background-color-hover: #212c3a;


@navbar-color: #888888;
@navbar-background: #f3f3f4;

.logo-wrap {
  background-color: @menu-background;
}

.menu {
  .el-menu .el-menu-item.is-active {
    color: #fff !important;
    background-color: @menu-background-hover !important;
    border-left: 3px solid @primary;
  }
}