@import "base";

@primary: #409eff;
@color: white;

@menu-color: #bfcbd9 !important;
@menu-background: #304156 !important;

@menu-color-hover: #fff;
@menu-background-hover: #001528;

@menu-title-color: #bfcbd9;
@menu-title-background-color: #304156;

@menu-title-color-hover: #fff;
@menu-title-background-color-hover: #263445;

@navbar-color: #606266;
@navbar-background: #fff;

.logo-wrap {
  color: #fff !important;
  background-color: #304156 !important;
}

.menu {
  .el-menu-item-group,
  .el-menu-item:not(.is-active) {
    background-color: @menu-background !important;
  }

  .el-submenu__title {
    background-color: @menu-title-background-color !important;
  }

  .el-menu .el-menu-item.is-active {
    color: @menu-color-hover !important;
    background-color: @menu-background-hover !important;
    border-left: 3px solid @primary;
  }
}
