@import "base";

@primary: #5458b3;
@color: white;

@menu-color: rgba(255, 255, 255, 0.78) !important;
@menu-background: #3e4295 !important;

@menu-color-hover: #FFF;
@menu-background-hover: #001528;

@menu-title-color: @menu-color;
@menu-title-background-color: #3e4295;

@menu-title-color-hover: @menu-color-hover;
@menu-title-background-color-hover: rgba(@menu-title-background-color, 0.8);


@navbar-color: @primary;
@navbar-background: #FFF;

.logo-wrap {
  color: #000 !important;
  background-color: @navbar-background;
}

.navbar {

  .el-button:focus, .el-button:hover {
    color: rgba(@primary, 0.7) !important;
  }
}

.menu {
  .el-menu .el-menu-item.is-active {
    color: #fff !important;
    background-color: @menu-background-hover !important;
    border-left: 3px solid @primary;
  }
}