{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/simpleui-x/css/password.css' %}?_=1.0">
{% endblock %}
{% block bodyclass %}pwd-page{% endblock %}
{% block userlinks %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content_title %}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div id="content-main" class="pwd-shell">
        <div class="pwd-card">
            <div class="pwd-card__header">
                <span class="pwd-card__icon" aria-hidden="true"><i class="fas fa-key"></i></span>
                <div>
                    <h2 class="pwd-card__title">{% trans 'Change password' %}</h2>
                    <p class="pwd-card__desc">{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
                </div>
            </div>

            {% if form.errors %}
                {% if form.errors.items|length == 1 %}
                    <el-alert title="{% trans "Please correct the error below." %}" type="error" show-icon :closable="false"></el-alert>
                {% else %}
                    <el-alert title="{% trans "Please correct the errors below." %}" type="error" show-icon :closable="false"></el-alert>
                {% endif %}
            {% endif %}

            <el-form ref="form" :model="form" label-width="96px" method="post" id="password_form" @submit.native.prevent="formSubmit">
                {% csrf_token %}
                <el-form-item label="{% trans 'Old password' %}">
                    <el-input v-model="form.oldPassword" name="old_password" type="password" show-password
                              autocomplete="current-password" autofocus></el-input>
                    {{ form.old_password.errors }}
                </el-form-item>

                <el-form-item label="{% trans 'New password' %}">
                    <el-input v-model="form.newPassword1" name="new_password1" type="password" show-password
                              autocomplete="new-password"></el-input>
                    {{ form.new_password1.errors }}
                    {% if form.new_password1.help_text %}
                        <div class="help">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </el-form-item>

                <el-form-item label="{% trans 'Confirm password:' %}">
                    <el-input v-model="form.newPassword2" name="new_password2" type="password" show-password
                              autocomplete="new-password"></el-input>
                    {{ form.new_password2.errors }}
                </el-form-item>

                <div class="pwd-card__actions">
                    <el-button type="primary" native-type="submit" @click="formSubmit" icon="el-icon-check">
                        {% trans 'Change my password' %}
                    </el-button>
                    <a class="pwd-card__back" href="{% url 'admin:index' %}">{% trans 'Back to admin' %}</a>
                </div>
            </el-form>
        </div>
    </div>
    <script type="text/javascript">
        new Vue({
            el: '#content-main',
            data: {
                form: {
                    oldPassword: '',
                    newPassword1: '',
                    newPassword2: ''
                }
            },
            methods: {
                formSubmit: function () {
                    document.getElementById('password_form').submit();
                }
            }
        });
    </script>
{% endblock %}
